MONAD_TESTNET_RPC=https://testnet-rpc.monad.xyz
MONAD_MAINNET_RPC=https://rpc.monad.xyz
DEPLOYER_PK=
# Verifier: https://docs.monad.xyz/guides/verify-smart-contract
# forge verify-contract <addr> <name> --chain 10143 --verifier sourcify --verifier-url https://sourcify-api-monad.blockvision.org/
